* {
	font-family: "Segoe UI",Arial,sans-serif;
	margin: 0;
	padding: 0;
}

html {
	background: url(images/background.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

@media (min-width: 1281px) {
	#container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	
		margin: auto;
		width: 50%;
		height: 50%;
		max-width: 100%;
		max-height: 100%;
		text-align: center;

		border: 3px white solid;
		box-shadow: -73px 73px 9px 0px rgba(0, 0, 0, 0.40);
	}
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
	  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	
}

h1 {
	position: absolute;
	top: 10%;
	width: 100%;
	color: white;
	font-size: 4vw;
}

#navbar a {
	font-size: 1.6vw;
	font-weight: bold;
	color: white;
	display: flex;
	padding: 14px 16px;
	text-decoration: none;
	justify-content: space-around;
}

#navbar a:hover {
	background-color: #111;
	cursor: pointer;
}

#navbar ul {
	list-style: none;
	display: flex;
}

#navbar li {
	width: 100%;
	text-align: center;
	position: relative;
}

#navbar li:hover .submenu > li {
	display: block;
	top: 0;
}

#navbar {
	width: 100%;
	position: absolute;
	top: 60%;
}

#navbar .submenu > li > a {
	font-size: 1.2vw;
	background-color: #222;
}

#navbar .submenu > li > a:hover {
	background-color: #111;
}

.submenu li {
	display: none;
	box-shadow: 3px 0px 0px 0px white, -3px 0px 0px 0px white;
}

.submenu {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
}