html {
	background-image: url(subbackground.jpg);
	background-attachment: fixed;
}

article {
	height: 100%;
	margin: auto;
	width: 75%;
	background-color: #eff0f1;
	padding: 20px;
	line-height: 1.5em;
}

article > ul, article > ol {
	padding-left: 20px;
}

article, h1, h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}