* {
	font-family: 'Montserrat', 'Segoe UI', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

p {
	word-wrap: break-word;
	line-height: 1.5em;
	padding: 10px 10px;
	text-align: justify;
}

h1, h3 {
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
	padding: 14px 15px;
}

h4 {
	padding: 10px;
	font-size: 1.2em;
	font-weight: normal;
}

button {
	margin: 10px;
	background-color: #eeeff0;
	padding: 15px 32px;
	border: none;
	font-weight: bold;
}

hr {
	border: 0;
	height: 1px;
	background: black;
	width: 75%;
	margin: 10px auto;
}

main ul {
	padding: 10px 0 10px 10px;
	margin-left: 15px;
}

main ul ul {
	padding-top: 0;
	padding-bottom: 0;
}

main ol {
	padding: 0 10px 10px;
}

video {
	width: 90% !important;
	height: auto !important;
	margin: 0 auto;
	display: block;
}

#transcript {
	font-style: italic;
}

#contents, #transcript {
	display: none;
	margin-left: 20px;
}

#contents a {
	cursor: pointer;
	text-decoration: none;
	color: #363636;
}

#contents a:hover {
	color: red;
}

img {
	margin: 0 auto;
	display: block;
}

header {
	height: 75px;
}

#navbar ul {
	display: flex;
	justify-content: flex-end;
}

#navbar ul li {
	list-style: none;
	position: relative;
}

#navbar ul li a {
	cursor: pointer;
	padding: 14px 5px;
	color: #363636;
	display: block;
	text-decoration: none;
}

#navbar ul li a:hover {
	color: red;
}

#navbar ul li:hover .submenu > li {
	display: block;
	top: 0;
}

#navbar ul li:hover {
	background-color: #eeeff0;
}

.submenu li {
	display: none;
	background-color: #eeeff0;
	text-align: center;
}

.submenu {
	display: flex;
	flex-direction: column;
	z-index: 10;
	width: 100%;
	position: absolute;
	overflow: visible;
}

.active {
	color: red !important;
}

#topJump {
	position: fixed;
	right: 10px;
	top: 50%;
	bottom: 50%;
	width: 50px;
	height: 50px;
	z-index: 99;
	background-color: #eeeff0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border-radius: 50%;
	font-size: 2em;
	color: #363636;
}

#topJump:hover {
	color: red;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	body {
		display: flex;
		flex-direction: column;
		margin: auto;
	}

	#navbar ul li a {
		white-space: nowrap;
	}
}

@media only screen and (min-width: 768px) {
	html {
		background: url("images/background.jpg") no-repeat fixed center center;
	}

	body {
		margin: 0 auto;
		width: 75%;
		background: #fff;
		box-shadow: 3px 0 15px -4px rgba(0, 0, 0, 0.4), -3px 0 15px -4px rgba(0, 0, 0, 0.4);
	}

	#navbar ul li a, h4 a {
		transition: color 0.4s;
	}

	#topJump {
		transition: color 0.4s;
	}
}